@charset "UTF-8";

@media screen and (min-width: 320px) and (max-width: 775px) {
    html, body {
        padding: 0px;
        margin: 0px;
    }

    .estrutura {
        padding: 2px 5px 5px 5px;
       
    }

    .skills h2 {
        padding-left: 2rem;
        font-size: 1.7em;
    }

    .skills h6 {
        font-size: 1em;
    }

    .skills1 {
        gap: 2rem 8rem;
    }

    .html .progress-bar p {
        padding-right: 0.3rem;
    }

    .html .progress-bar .progress {
        position: relative;
        width: 100%;
        height: 0.6rem;
        background-color:#5d557a;
    }

    .css .progress-bar p {
        padding-right: 0.3rem;
    }

    .java .progress-bar p {
        padding-right: 0.3rem;
    }

    .react .progress-bar p {
        padding-right: 0.3rem;
    }

    .fire .progress-bar p {
        padding-right: 0.3rem;
    }

    .git .progress-bar p {
        padding-right: 0.3rem;
    }



    .title2 h2 {
        padding-left: 2rem;
        padding-bottom: 0px;
        margin-bottom: 0px;
        font-size: 1.7em;
        position: relative;
        
    }

    .idioma {
        padding: 1px 5px 5px 5px;
             }

    .idioma h6 {
        padding-top: 0px;
    }

    .idioma1 .progress-bar p {
        padding-right: 0.3rem;
    }

    .idioma2 .progress-bar p {
        padding-right: 0.3rem;
    }

     .title1 .decoration1 {
        display: none;
     }

     .estrutura-curriculo {
        padding: 1px 5px 5px 5px;
    }

    .experiencia h3 {
        font-size: 1.7em;
    }

    .curriculo .resume-content {
        border: none;

       
    }

    .resumo-exp .left-content {
        padding-left: 0px;
    }

    .resumo-exp .left-content p {
        font-size: 14px;
    }

    .resumo-exp .right-content {
        font-size: 1em;
        position: relative;
        left: 5rem;
        bottom: 8rem;
        height: 2px;
        width: 290px;
    }

    .resumo-exp .right-content h5 {
        padding-top: 30px;
        margin-bottom: 1px;
        padding-bottom: 2px;
        font-size: 18px;
        color:  #267fa5;
    }

    .resumo-exp .right-content p {
        margin-top: 1px;
        padding-top: 1px;
        font-size: 15px;
        padding-left: 5px;
    }
   
    .titulo-educacao h3 {
        font-size: 2em;
    }

    .resumo-educacao .resumo .left-content {
        padding-left: 0px;
        font-size: 0.8em;
    }

    .resumo-educacao .resumo .right-content {
        position: relative;
        left: 5rem;
        bottom: 7rem;
        width: 230px;
    }

    .resumo-educacao .resumo .right-content h5 {
        font-size: 1em;
        padding-top: 3px;
        margin-bottom: 1px;
        padding-bottom: 1px;
        padding-left: 1px;
        width: 220px;
        text-transform: uppercase;
    }

    .resumo-educacao .resumo .right-content h6 {
        font-size: 1em;
        padding-left: 1px;
        padding-bottom: 1px;
        margin-top: 1px;
        margin-bottom: 0px;
        text-transform: uppercase;
        width: 220px;
    }

    .resumo-educacao .resumo .right-content p {
        font-size: 1em;
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 1px;
        width: 220px;
    }

    .baixar a {
        width: 150px;
        margin-top: 1px;
     
    }

    @media screen and (min-width: 775px) and (max-width: 992px) {

    }


}