@charset "UTF-8";

:root {
    --cor01: #5593A6;
    --cor02: #A68565;
    --cor03: #FFE7CF;
    --cor04: #F2CEAB;
    --cor05: #ACE2F2;
}

@media screen and (min-width: 992px) {
    .container {
        display: flex;
        align-items: center;
    }

    .container img {
        width: 50%;
        margin-left: 50px;
        width: 550px;
    }

   .container p {
    font-size: 1.4em;
    width: 40%;
    margin-left: 70px;

   }


}