@charset "UTF-8";

:root {
    --cor01: #5593A6;
    --cor02: #A68565;
    --cor03: #FFE7CF;
    --cor04: #F2CEAB;
    --cor05: #ACE2F2;
}

@media screen and (min-width: 768px) and (max-width: 992px){
    header > img {
        position: relative;
        left: 60%;
        top: 70px;
        width: 250px;
        border-radius: 50%;
        
    }

    header > h1, h2 {
        position: relative;
        left: 100px;
        bottom: 150px;
        padding: 15px;
        font-family: 'Phudu', cursive;
        font-size: 2em;
        color: white;
    }

    .social-media img {
        width: 50px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.521);
        position: relative;
        bottom: 120px;
        left: 160px;
        margin: 10px;
        box-sizing: border-box;
    }

    main {
        height: 80vw;
    }

}


@media screen and (min-width: 992px) {
    html, body {
        width: 100vw;
    }

    span#burguer {
        display: none;
    }

    header li {
        background-color: #267fa5;
        border-top: 1px solid #267fa5;
    }

    .header {
        display: block;
    }

    .checkbox-container {
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .checkbox {
        height: 100px;
        width: 100px;
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        justify-content: center;
        cursor: pointer;
        border-radius: 50%;
        z-index: 9999;
        transition: 400ms ease-in-out 0s;
        
    }
    .checkbox:hover{
        background-color: #06638b;
    }
    
    .checkbox .trace {
        width: 50px;
        height: 2px;
        background-color: #ebebeb;
        position: absolute;
        border-radius: 4px;
        transition: .5s ease-in-out;
    }
    
    .checkbox .trace:nth-child(1){
        top: 26px;
        transform: rotate(0);
    }
    
    .checkbox .trace:nth-child(2){
        top: 46px;
        transform: rotate(0);
    }
    
    .checkbox .trace:nth-child(3){
        top: 66px;
        transform: rotate(0);
    }
    
    #toggle {
        display: none;
    }
    
    /*menu*/
    
    .menu {
        position: absolute;
        top: 20px;
        right: 30px;
        background-color: transparent;
        height: 4px;
        width: 40px;
        border-radius: 50%;
       
        z-index: -1;
        transition: 400ms ease-in-out 0s;
    }
    
    .menu-items {
        position: fixed;
        top: 0;
        left: 550px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transition: 400ms ease-in-out 0s;
    }
    
    .menu-items ul {
        list-style-type: none;
        margin: auto;
    }
    
    .menu-items li a:hover {
        color:var(--cor04);
        
    }
    
    .menu-items ul li a {
        color: #ebebeb;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 40px;
    }
    
    /*animação do menu*/
    
    #toggle:checked + .checkbox .trace:nth-child(1) {
        transform: rotate(45deg);
        top: 48px;
    }
    
    #toggle:checked + .checkbox .trace:nth-child(2) {
        transform: translate(-100px);
        width: 30px;
        visibility: hidden;
        opacity: 0;

    }
    
    #toggle:checked + .checkbox .trace:nth-child(3) {
        transform: rotate(-45deg);
        top: 48px;
    }
    
    #toggle:checked + .checkbox {
        background-color: #267fa5;
    }
    
    #toggle:checked ~ .menu {
        box-shadow: 0px 0px 0px 100vmax #267fa5;
        z-index: 1;
    }
    
    #toggle:checked ~ .menu-items {
        visibility: visible;
        opacity: 1;
    }

    header {
        width: 100vw;
        height: 35vw;
    }

    header > img {
        position: relative;
        left: 60%;
        top: 70px;
        width: 280px;
        border-radius: 50%;
        
    }

    header > h1, h2 {
        position: relative;
        left: 250px;
        bottom: 150px;
        padding: 15px;
        font-family: 'Phudu', cursive;
        font-size: 2em;
        color: white;
    }
    
    header > h1 {
        text-indent: 30px;
    }
    
    header > h2 {
        text-indent: 20px;
    }

    .social-media img {
        width: 70px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.521);
        position: relative;
        bottom: 120px;
        left: 340px;
        margin: 10px;
        box-sizing: border-box;
    }

    .card1 {
        width: 200px;
        height: 200px;
    }

    .card2 {
        width: 200px;
        height: 200px;
    }

    .card-text {
        font-size: 1.1em;
    }

    .card-wrapper h3 {
        font-size: 20px;
    }

    .card1:hover > .card-wrapper::before {
        height: 150px;
        width: 150px;
        opacity: 1;
    }

    .card2:hover > .card-wrapper::before {
        height: 150px;
        width: 150px;
        opacity: 1;
    }
}