@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Phudu&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Hind', sans-serif;

}

:root {
    --cor01: #5593A6;
    --cor02: #A68565;
    --cor03: #FFE7CF;
    --cor04: #F2CEAB;
    --cor05: #ACE2F2;
}

html, body {
    width: 100vw;
    background-color: #ACE2F2;
}

header {
    width: 100vw;
    background-color: #5593A6;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0px 30px;

}

header > h1, h2 {
    font-family: 'Phudu', cursive;
    text-align: left;
    padding: 8px;
    font-size: 1.5em;
}

header > img {
    width: 200px;
    position: absolute;
    left: 60%;
    border-radius: 50%;
}

section#social-media img {
    position: relative;
    width: 50px;
    border-radius: 50%;
    padding: 10px;
    padding-top: 15px;
    top: 70%;
    left: 20%;
    border: 1px solid black;
    

}

section#social-media img:hover {
    border: 1px solid white;
}

span#burguer {
    background-color: var(--cor01);
    position: relative;
    top: 23%;
    left: 50%;
    color: white;
    padding: 10px;
    cursor: pointer;
}

span#burguer:hover {
    color: black;
}

/*menu {
    display: none;
}*/

header li {
    width: 100%;
    border-top: 2px solid rgba(40, 40, 40, 0.991);
    padding: 10px;
    background-color: rgb(82, 82, 82);

}

header li a {
    text-decoration: none;
    color: white;
}

header li:hover {
    background-color: darkgray;
}