@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&family=Phudu&display=swap');

* {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Hind', sans-serif;

}

:root {
    --cor01: #5593A6;
    --cor02: #A68565;
    --cor03: #FFE7CF;
    --cor04: #F2CEAB;
    --cor05: #ACE2F2;
}

html, body {
    overflow-x: hidden;
    background-color: #ACE2F2;
    width: 100vw;
}

header {
    width: 100vw;
    height: 20%;
    background-color: #5593A6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

header > img {
    position: relative;
    left: 50%;
    top: 30px;
    width: 180px;
    border-radius: 50%;
    
}

.header {
    display: none;
}

header > h1, h2 {
    position: relative;
    bottom: 120px;
    padding: 15px;
    font-family: 'Phudu', cursive;
    font-size: 1em;
    color: white;
}

header > h1 {
    text-indent: 30px;
}

header > h2 {
    text-indent: 20px;
}

.social-media {
    display: inline-block;
    height: 10px;
}

.social-media a {
    text-decoration: none;
}

.social-media img {
    width: 50px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.521);
    position: relative;
    bottom: 90px;
    left: 60px;
    margin: 10px;
    box-sizing: border-box;
}

.social-media img:hover {
    border: 2px solid white;
}

span#burguer {
    background-color: #3e6c7a;
    display: block;
    color: white;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

span#burguer:hover {
    background-color: white;
    color: black;
}

menu {
    display: none;
}

menu li {
    text-decoration: none;
    text-align: center;
    display: block;
    border-top: 1px solid var(--cor05);
    padding: 10px;
    background-color: var(--cor01);
}
  
menu#itens li a {
    text-decoration: none;
    color: white;
}

menu#itens li:hover {
    background-color: var(--cor03);
    color: black;
}

menu#itens li a:hover {
    color: black;
}


.container {
    background-color: var(--cor02);
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.card-container {
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    
}

.card1 {
    text-decoration: none;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 3rem 0 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #190563;
    background-image: url(../img/curriculo2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: #190563;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.card2 {
    text-decoration: none;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 3rem 0 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #190563;
    background-image: url(../img/kelly-sikkema-v9FQR4tbIq8-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: #190563;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.card-text {
    padding-top: 30px;
    text-decoration: none;
    width: 50%;
    letter-spacing: 1px;
    color: #190563;
}

.card-wrapper {
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none;
}

.card-wrapper::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    border: 1px solid #267fa5;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper h3 {
    font-size: 16px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    transition: 0.5s ease-in-out;
}

.card-wrapper p {
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
}

card1:hover{
    filter: unset;
}

.card1:hover > .card-wrapper::before {
    height: 120px;
    width: 120px;
    opacity: 1;
}

.card1:hover > .card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 12px;
}

.card2:hover{
    filter: unset;
}

.card2:hover > .card-wrapper::before {
    height: 120px;
    width: 120px;
    opacity: 1;
}

.card2:hover > .card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 12px;
}

.footer {
    width: 100%;
    height: 30px;
    font-size: 10px;
    background-color: var(--cor01);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ebebeb;

}